{#
 # Basic page template
 # -------------------
 #
 #}

{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}

  <h1 class="page_title">{{ title }}</h1>

  {# Loop through and display each content section - based on  matrix fields #}
  {% for contentSection in entry.sections %}
    {% if contentSection.images is empty %}
      {% set pageClass = "basic--no_gallery" %}
    {% else %}
      {% set pageClass = "" %}
    {% endif %}

    <div class="basic basic--{{ loop.index }} {{ pageClass }}">

      {# Left column #}
      {# Check if there is more than one image #}
      {% if contentSection.images|length > 1 %}
        <div class="basic-images js-basic_slider">
      {% else %}
        <div class="basic-images">
      {% endif %}
        {# Loop through and display images #}
        {% for asset in contentSection.images %}
          <img src="{{ asset.getUrl('contentImage') }}" class="image-{{ loop.index }}">
        {% endfor %}
        {# Check if there is more than one image #}
        {% if contentSection.images|length > 1 %}
          <div class="slider-pager-container">
            <div class="slider-pager"></div>
          </div>
          <a class="slider-previous" href="javascript:void(0);" title="Previous Image">Previous Image</a>
          <a class="slider-next" href="javascript:void(0);" title="Next Image">Next Image</a>
        {% endif %}
      </div>

      {# Right column #}
      <div class="basic-content">
        <div class="basic-content-inner">
          {{ contentSection.text }}
        </div>
      </div>

    </div>
  {% endfor %}

{% endblock %}
