<footer class="footer">

  <div class="footer-links">
    &copy; {{ now.year }}
    {# Display navigation for footer - editable in cms via navigation plugin #}
    {# {{ craft.amNav.getNav("footer", {
      id: '',
      class: ''
    }) }} #}
  </div>

</footer>
