<header class="header">
  <nav class="header-nav">
    {# Display navigation for header - editable in cms via navigation plugin #}
    {# {{ craft.amNav.getNav("header", {
      id: '',
      class: 'header-nav-list'
    }) }} #}
  </nav>
</header>
