{#
 # Contact page template
 # -------------------
 #
 #}

{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}

  <div class="contact">

    <h1 class="page_title">{{ entry.title }}</h1>

  </div>

{% endblock %}
