{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # Use: {% extends "_layout" %}
 #      {% block content %}
 #      {% endblock %}
 #
 #}

 <!DOCTYPE html>
 <!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
 <!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
 <!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}{% if tagline is defined %} - {{ tagline }}{% endif %}</title>
  <link rel="home" href="{{ siteUrl }}" />

  <meta name="description" content="">

  <link rel="stylesheet" type="text/css" href="" />
  <link rel="stylesheet" type="text/css" media="all" href="/css/site.css" />

  <script src="/modernizr-custom.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% include "_includes/analytics" %}

  <meta property="og:title" content="{{ siteName }} | {% if title is defined %}{{ title }} - {% endif %}{% if tagline is defined %}{{ tagline }}{% endif %}"/>
  <meta property="og:image" content="{{ siteUrl }}share.jpg"/>
  <meta property="og:site_name" content="{{ siteName }}"/>
  <meta property="og:description" content=""/>
</head>

<body class="page-{{ craft.request.getSegment(1) ?: 'home' }}">
  {% include "_includes/header" %}

  <div class="main">
    {% block content %}

    {% endblock %}
  </div>

  {% include "_includes/footer" %}
  <script src="/js/scripts.js"></script>
</body>
</html>
