@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "base/base";
@import "components/all";
@import "layout/all";

body {
  background-color: $base-background-color;
  color: $base-font-color;
}
