// Threshold
$huge-set: 1280px;
$desktop-set: 880px;
$mobile-set: 620px;
$tiny-set: 400px;

// Min
$huge-up: "only screen and (min-width: #{$huge-set + 1})";
$desktop-up: "only screen and (min-width: #{$desktop-set + 1})";
$mobile-up: "only screen and (min-width: #{$mobile-set + 1})";
$tiny-up: "only screen and (min-width: #{$tiny-set + 1})";

// Max
$huge: "only screen and (max-width: #{$huge-set})";
$desktop: "only screen and (max-width: #{$desktop-set})";
$mobile: "only screen and (max-width: #{$mobile-set})";
$tiny: "only screen and (max-width: #{$tiny-set})";

// @media screen and (max-width: 520px)
// @media #{$desktop}
