body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $unitless-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0 0 15px;
  font-weight: normal;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  color: $base-font-color;
}

h1 {
  font-size: $base-font-size * 3.25;
}

h2 {
  font-size: $base-font-size * 2.75;
}

h3 {
  font-size: $base-font-size * 2;
}

h4 {
  font-size: $base-font-size * 1.75;
}

h5 {
  font-size: $base-font-size * 1.5;
}

h6 {
  font-size: 1.25em;
}

p {
  margin: 0 0 30px;
  font-size: 1.125em;

  @media #{$mobile} { font-size: 1em; }
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  padding: 12px 30px;
  font-family: $serif;
  font-size: 1.25em;
  font-style: italic;
  letter-spacing: .05em;
  line-height: 1.5em;
  color: $base-font-color;

  @media #{$mobile} {
    padding: 0;
  }

  &:before {
    @include position(absolute, 0 null null 0);
    content: "\201C";
    font-size: 2em;
    line-height: normal;

    @media #{$mobile} {
      display: none;
    }
  }

  p {
    margin: 0;
  }

  strong,
  cite {
    display: block;
    padding-top: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    color: $red;
  }
}
