// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $serif;
$display: $sans-serif;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);
$base-spacing: 3%;

// Colors
$black: black;
$white: white;
$blue: blue;
$yellow: yellow;
$greeen: green;
$red: red;
$pink: pink;
$purple: purple;

// Grey Scale
$grey1: #e2e2e2; $light-grey: $grey1;
$grey2: #c6c6c6;
$grey3: #ababab; $grey: $grey3;
$grey4: #919191;
$grey5: #777777;
$grey6: #5e5e5e; $medium-grey: $grey6;
$grey7: #474747;
$grey8: #303030;
$grey9: #1b1b1b; $dark-grey: $grey9;

// Brand Colors
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$tumblr: #32506d;
$instagram: #517fa4;
$dribbble: #ea4c89;

// Background Color
$base-background-color: white; // Set this!

// Font Colors
$base-font-color: $black; // Set this!
$base-accent-color: $blue; // Set this!

// Link Colors
$base-link-color: $blue; // Set this!
$hover-link-color: $base-accent-color;
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-grey;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
